extends ../layout

mixin consolelist(consoles)
    select.w3-select(name="console", style="width: 30%; margin: 0 auto")
        <option value="" disable selected>Choose a Console</option>
        for console in consoles
            option(value=console["id"])= console["name"]
    br

block content
    div.w3-center.w3-margin(style="padding: 4%")
        h1.w3-padding Add Game
        h4.w3-text-red: b= error
        div
            form(action="/admin/games/add", method="POST")
                br
                input.w3-input(type="text", name="name", placeholder="Game Name", style="width: 30%; margin: 0 auto")
                br
                +consolelist(consoles)
                br
                input.w3-input(type="text", name="region", placeholder="Game Region(s)", style="width: 30%; margin: 0 auto")
                br
                input.w3-input(type="date", name="rel_date", placeholder="Release Date", style="width: 30%; margin: 0 auto")
                br
                input.w3-input(type="text", name="publisher", placeholder="Game Publisher", style="width: 30%; margin: 0 auto")
                br
                input.w3-input(type="text", name="tid", placeholder="Title ID/Release Number", style="width: 30%; margin: 0 auto")
                br
                input.w3-input(type="text", name="size", placeholder="Size (In Bytes)", style="width: 30%; margin: 0 auto")
                br
                input.w3-input(type="text", name="rating", placeholder="Rating (1-10)", style="width: 30%; margin: 0 auto")
                br
                brs
                input.w3-button.w3-round.w3-opacity(type="submit", value="Add Game")