extends ../layout

block content
    h1 Admin Panel
    div.pageTable(style="margin-left: 10%; margin-top: 4%")
        div(style="float: left; margin-left: 25%;")
            a(href="/admin/users").button User List
            a.button(href="/admin/consoles/add") Add Console
        div(style="float: center; margin-right: 25%;")
            h3= "Registered Users: " + userCount
        