extends ../layout

mixin userlist(users)
    table
        tr
            th Username
            th Email
            th Role
        for u in users
            tr
                td= u["username"]
                td= u["email"]
                td= u["role"].charAt(0).toUpperCase() + u["role"].slice(1)

block content
    div.pageTable
        h1 Registered Users
        +userlist(users)