extends layout

mixin consolelist(consoles) 
  table
    tr
      th Name
      th Release Year
      th Developer
    for console in consoles
      tr
        td= console["name"]
        td= console["rel_year"]
        td= console["developer"]
    

block content
  div(style="width: 100%; overflow: hidden;")
    div.leftTable
      h1 Newly Added Consoles
      +consolelist(consoles)
