extends layout

mixin consolelist(consoles) 
  div.w3-card
    table.w3-table.w3-striped
      tr
        th Name
        th Release Year
        th Developer
      for console in consoles
        tr
          td= console["name"]
          td= console["rel_year"]
          td= console["developer"]
    

block content
  div.w3-row.w3-mobile
    div.w3-half.w3-container.w3-center(style="margin: 2%")
      h1 Newly Added Consoles
      +consolelist(consoles)
